.article-item {
    margin-bottom: 40px;
}

.article-item h4 {
    margin-top: .5rem;
}

.grid-example [class*="col-"] {
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

/*  Carousel image */
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width: 100%;
}