.article-image {
    max-width: 100%;
}

.article-list {
    padding-left: 0;
    list-style: none;
}

.article-list-item {
    clear: both;
    overflow: hidden;
}

.article-list-image {
    float: right;
    max-width: 100%;
    margin: 0 0 20px 20px;
}

.grid-example [class*="col-"] {
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}